{% extends "Questions/layout.html" %}
{% block title %}
    ASSiGNMENT
{% endblock %}
{% block content %}
    <h1>Multiple Choice Questions</h1>
    <h3>Time Left:
    <div id = "demo"> </div>
    </h3>
    {% if assignment_list %}
        <div class="assignment_list">
            
            {% for assignment in assignment_list %}
                
                    <h2>{{ assignment.title}}</h2>
                    
                    <pre class = "prestuff">{{ assignment.story }}</pre>
                    
               
            {% endfor %}
            {% comment %} {{question_list}} {% endcomment %}

            <form method="POST" id = "quiz-form" class="log-form" action="{% url 'gradedassignments-list' %}">
                {% csrf_token %}
                {% for question in question_list %}
                
                    <h2>{{ question.order}}. {{ question.question}}</h2>
                    {% for choice in question.choices %}

                        <input type="radio" id={{forloop.counter}} name={{question.order}} value={{choice}}>
                        <label for={{forloop.counter}}>{{choice}}</label><br>

                        <br>  
                    {% endfor %}
                
            
            {% endfor %}

            <input type="submit" value="Submit">
            </form>

        </div>
    {% else %}
        <p>No Assigments Yet.</p>
    {% endif %}

{% endblock %}


{% block extra_scripts %}
<script> 
const d = new Date();
const deadline = d.setMinutes(d.getMinutes() + 5); 
const form = document.getElementById('quiz-form');
const x = setInterval(function() { 
    const now = new Date().getTime(); 
    const t = deadline - now; 
   // var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
    //var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
    const minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
    const seconds = Math.floor((t % (1000 * 60)) / 1000); 
    document.getElementById("demo").innerHTML =  
    minutes + "m " + seconds + "s "; 
        if (t < 0) { 
            clearInterval(x); 
            form.submit();
            document.getElementById("demo").innerHTML = "EXPIRED"; 
        } 
}, 1000); 
</script> 
{% endblock extra_scripts %}
